paradedb:
  image:
    repository: paradedb/paradedb
    tag: 16-v0.6.0

  auth:
    # username
    username: paradedb

    # Password for the user
    # password:

    # existing password secret name
    # existingSecret:

    # database name to create
    database: paradedb

  # Shared preload libraries (comma-separated list)
  postgresqlSharedPreloadLibraries: "pgaudit,pg_cron,pg_search,pg_lakehouse"
